.btn {
    border-radius: 5em;
}

.btn-beta {
    color: #fff;
    background-color: $main-colour;
    &:hover {
        color: #fff;
        background-color: $second-colour;
    }
}

.btn-outline-beta {
    color: $main-colour;
    border: 0.1em solid $main-colour;
}