//Theme variables
$bg-colour: #e7e7e7 !default;
$main-colour: #2C265E;
$second-colour: #EBEDFF;
$third-colour: #F9E7EB;

// Typography
$betawerk-font-family: 'DM Sans', sans-serif !default;
$headings-font-weight: 400;